@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Sofia+Sans+Extra+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}
/* //////////////////////// Cabeçalho //////////////////// */
/* Atribuindo proprieades da div que contém o cabeçalho */

header{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-evenly;
    align-items: center;
}

#iconMenuMobile{
    display: none;
}

#localPage{
    display: flex;
    justify-content: center;
}

#iconLocalPage{
    width: 15%;
}

.menu-bar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%; 
}

.menu-bar ul li{
    
    display: flex;
    justify-content: center;
    width: 20%;
}

.logo{
    height: 65%;
    border-radius: 10vh;    
}
.menu-bar{
    display: flex;
    width: 80%;
    height: 65%;
    justify-content: space-around;
    align-items: center;
    border-radius: 2vh;
    background-color: #c2e0f1c7;
    font-family: 'Indie Flower', cursive;
}
.link-menu-bar{
    text-decoration: none;
    color: #001E30;
    font-size: 2.3vw;
}
/*///////////////////////// Main /////////////////////////*/
main{
    width: 100%;
    height: 75%;
}
/*///////////////////////// footer /////////////////////*/
footer{
    background-color: #c2e0f1c7;
    display: flex;
    width: 100%;
    height: 5%;
    padding: 0 2%;
    justify-content: space-between;
    align-items: center;
    text-align: end;
}
.img-footer{
    display: flex;
    align-items: center;
    width: 4.5vw;
}
#icon-insta{
    height: 4vh;
}
#icon-whats{
    height: 4.5vh;
}
#byFor{
    font-size: 2vh;
}
#numberContact{
    font-size: 2.5vh;
}

/* Exibição em modo Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px){

    header{
        padding: 0 5rem 0 2rem;
        justify-content: space-between;
    }

    .menu-bar ul{
        display: none;
    }

    .menu-bar ul{
        display: none;
        width: 70%;
        height: 80%;
        flex-direction: column;
    }

    .menu-bar ul li{
        width: 90%;
       
    }

    .link-menu-bar{
        font-size: 4vh;
    }

    #iconLocalPage{
        width: 10%;
    }

    #iconMenuMobile{
        display: flex;
    }

    .menu-bar{
        flex-direction: column-reverse;
        display: flex;
        justify-content: space-evenly;
        width: 20%;
    }

    .buttonNavigation{
        display: flex;
        align-items: center;
        width: 10%;
    }

}

/* Exibição em modo Celular */
@media screen and (max-width: 767px){
    header{
        padding: 0 2.5rem 0 2rem;
        justify-content: space-between;
        
    }

    #iconMenuMobile{
        display: flex;
        justify-self: end;
        width: 25%
    }

    .menu-bar ul{

        display: none;
        width: 70%;
        height: 80%;
        flex-direction: column;
    }

    .menu-bar ul li{
        width: 90%;
    }

    .link-menu-bar{
        
        font-size: 3vh;
    }
    #iconLocalPage{
        width: 15%;
    }

    .menu-bar{
        flex-direction: column-reverse;
        display: flex;
        width: 20%;
    }

    #byFor{
        font-size: 1.5vh;
    }
    #numberContact{
        font-size: 1.5vh;
    }
    #icon-insta{
        height: 4vh;
    }
    #icon-whats{
        
        height: 4.5vh;
    }
    .img-footer{
        padding-top: 0.2rem;
        display: flex;
        align-items: center;
        width: 15vw;
    }

}