<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
=======
>>>>>>> 5a0fba26a37a7193390e1f5a2795e7cc52e1ba6c
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* //////////////////////// Cabeçalho //////////////////// */
/* Atribuindo proprieades da div que contém o cabeçalho */


<<<<<<< HEAD
=======

>>>>>>> 5a0fba26a37a7193390e1f5a2795e7cc52e1ba6c
header{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-evenly;
    align-items: center;
<<<<<<< HEAD
    font-family: 'Indie Flower', cursive;
=======
>>>>>>> 5a0fba26a37a7193390e1f5a2795e7cc52e1ba6c
}

#iconMenuMobile{
    display: none;
}

#localPage{
    display: flex;
    justify-content: center;
}

#iconLocalPage{
    width: 15%;
}

.menu-bar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%; 
}

.menu-bar ul li{
    
    display: flex;
    justify-content: center;
    width: 20%;
    border-radius: 2vh;
}

.logo{
    height: 65%;
    border-radius: 10vh;    
}
.menu-bar{
    display: flex;
    width: 80%;
    height: 65%;
    justify-content: space-around;
    align-items: center;
    border-radius: 2vh;
    background-color: #c2e0f1c7;
}
.link-menu-bar{
    text-decoration: none;
    color: #001E30;
    font-size: 2.3vw;
}
.menuMobile{
    display: none;
}
/*///////////////////////// Main /////////////////////////*/
main{
    width: 100%;
    height: 75%;
}
/*///////////////////////// footer /////////////////////*/
footer{
    background-color: #c2e0f1c7;
    display: flex;
    width: 100%;
    height: 5%;
    padding: 0 2%;
    justify-content: space-between;
    align-items: center;
    text-align: end;
}
.img-footer{
    display: flex;
    align-items: center;
    width: 4.5vw;
}
#icon-insta{
    height: 4vh;
}
#icon-whats{
    height: 4.5vh;
}
#byFor{
    font-size: 2vh;
}
#numberContact{
    font-size: 2.5vh;
}


@media (min-width: 768px) and (max-width: 1024px){

    header{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .menuMobile{
        width: 20%;
        height: 10.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c2e0f1c7;
        border-radius: 10px;
    }
    
    .iconMenuBar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        transition: 0.3;
    }
    .menu-bar{
        display: none;
    }
    #iconMenuMobile{
        display: flex;
    }

}


@media screen and (max-width: 767px){
    header{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .menuMobile{
        width: 30%;
        height: 12.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c2e0f1c7;
        border-radius: 10px;
    }
    
    .iconMenuBar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    #iconBar{
        width: 50%;
    }

    .menu-bar{
        display: none;
    }
    #byFor{
        font-size: 1.5vh;
    }
    #numberContact{
        font-size: 1.5vh;
    }
    #icon-insta{
        height: 4vh;
    }
    #icon-whats{
        
        height: 4.5vh;
    }
    .img-footer{
        padding-top: 0.2rem;
        display: flex;
        align-items: center;
        width: 15vw;
    }

}