h2{
    font-size: 2vw;
}
p{
    font-size: 3vh;
}
.img-home{
    width: 20vh;
    height: 20vh;
    border-radius: 4%;
}
<<<<<<< HEAD
=======
.container-home{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15vh;
}
.content-home{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 20vh;
    z-index: 1;
}
.container-history-home{
    display: flex;
    justify-content: center;
}
.content-history-home{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    background-color: #c2e0f1c7;
    width: 90%;
    height: 50vh;    
}
.title-history{
    text-align: center;
}
.history{
    gap: 2%;
    padding: 0% 2%;
    height: 50vh;
    display: flex;
    align-items: center;
    text-align: justify;
}
>>>>>>> 1f9a31453776a659fabb64c145c15a1a8178c917
