.img-home{
    width: 20vh;
    height: 20vh;
    border-radius: 4%;
}
.container-home{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15vh;
}
.content-home{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 20vh;
    z-index: 1;
}
.container-history-home{
    display: flex;
    justify-content: center;
}
.content-history-home{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    background-color: #c2e0f1c7;
    width: 80%;
    height: 50vh;    
    border-radius: 10px;
}
.history{
    text-align: center;
    padding: 5px;
    height: 50vh;
    display: flex;
    align-items: center;
    text-align: justify;
}
.imgButton{
    display: none;
}
#text1, #text2, #text3{
    padding: 10px;
}


@media screen and (max-width: 767px){
    .content-history-home{
        width: 80%;
        height: 55vh;
    }
    .imgButton{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5%;
        height: 55vh;
        margin: 5px;
    }
    #buttonRight, #buttonLeft{
        width: 35px;
        height: 35px;
    }
    #veleiro{
        display: none;
    }
    #jetSki{
        display: none;
    }
    #text2 {
        display: none;
    }
    #text3{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .img-home{
        width: 30%;
        height: 90%;
    }
    .content-history-home{
        width: 80%;
        height: 58vh;
    }
}