*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/home.png');
    background-size: cover;
    background-repeat: no-repeat;

}
/* //////////////////////// Cabeçalho //////////////////// */
/* Atribuindo proprieades da div que contém o cabeçalho */
header{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-evenly;
    align-items: center;

}
.logo{
    width: 8%;
    height: 80%;
    border-radius: 50%;
}

.menu-bar{
    display: flex;
    width: 80%;
    height: 65%;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-color: #c2e0f1c7;
}
.link-menu-bar{
    text-decoration: none;
    color: #001E30;
    font-size: 2.3vw;
}
/*///////////////////////// Main /////////////////////////*/
main{
    width: 100%;
    height: 75%;
}
/*///////////////////////// footer /////////////////////*/
footer{
    background-color: #c2e0f1c7;
    display: flex;
    width: 100%;
    height: 5%;
    padding: 0 2%;
    justify-content: space-between;
    align-items: center;
    text-align: end;
}
#icon-insta{
    height: 4vh;
}
#icon-whats{
    height: 4.5vh;
}
#byFor{
    font-size: x-small;
}